* {
    margin: 0;
    padding: 0;
}

body {
    background: #F4F1DE;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    background: #3D405B;
}

header h1 {
    font-size: 45px;
    font-weight: bold;
    color: #F4F1DE;
    margin: 0 0 20px 20px;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav ul {
    list-style: none;
    margin: 0 20px 20px 0;
}

header nav ul li {
    display: inline;
    padding: 0 10px 5px 10px;
    font-size: 25px;
    font-weight: bold;
    color: #F4F1DE;
    margin: 0 10px;
}

/* hero */
.hero {
    width: 100%;
    height: 500px;
    background: url("./images/placeholder.jpg");
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero h2 {
    font-size: 45px;
    margin: 0 50px 50px 0;
    background: #3D405B;
    color: #F4F1DE;
    padding:  10px 85px;
    text-align: center;
}

/* content wrapper */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 90px 50px 10px 50px;
    
}

/* labels */
.labels {
    display: flex;
    flex-direction: column;
    width: 250px;
    font-size: 45px;
    text-align: right;
    justify-content: space-between;
}

/* right side */
.right-side {
    margin-left: 50px;
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

/* article */
.about-me-wrapper p {
    color: #3D405B;
    font-size: 25px;  
    line-height: 1.7; 
}

/* work */
.work-grid-wrapper {
    margin: 100px 30px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px 30px;
}

.item1 {
    background: url("./images/placeholder.jpg");
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
}

.item2 {
    background: url("./images/placeholder.jpg");
    grid-column: 3/ 3;
    grid-row: 1 / 1;
}

.item3 {
    background: url("./images/placeholder.jpg");
    grid-column: 3/ 3;
    grid-row: 2/ 2;
}

.item4 {
    background: url("./images/placeholder.jpg");
    grid-column: 1/ 1;
    grid-row: 3/ 3;
}

.item5 {
    background: url("./images/placeholder.jpg");
    grid-column: 2/ 2;
    grid-row: 3/ 3;
}

.smaller-work {
    height: 250px;
}

.placement {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
}

.text-squares {
    background: #3D405B;
    width: 70%;
    height: 100px;
    margin-bottom: 45px;
}

.text-squares h4 {
    color: #F4F1DE;
    font-size: 30px;
}

.text-squares {
    color: #F2CC8F;
    font-size: 28px;
    text-align: center;
}


/* utility classes */
 .bottom-list-border {
    border-bottom: 1px solid #F4F1DE;
 }

 .left-border {
    border-left: 1px solid #F2CC8F;
 }

 .section-label {
     font-size: 40px;
     color: #3D405B;
     font-weight: bold;
 }

 .background-img-placement {
    background-size: cover;
    background-position: center;
 }